/**************************/
/* HEADER */
/**************************/

.header {
  width: 100%;
  height: 20vh;

  background-image: url(/Imágenes/hero4.jpeg);
  background-color: #f6f2ed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  -webkit-transition: height 0.7s ease;
  transition: height 0.7s ease;
}

.header:hover {
  height: 73vh;
}

.logo {
  height: 80px;
  padding: 0;
  margin: 0;
}

.nav-link:link,
.nav-link:visited,
.nav-name {
  text-decoration: none;
  display: inline-block;
  font-size: 2.4rem;
  color: #f6f2ed;

  text-shadow: 0px 0px 10px rgb(0, 0, 0), 0px 0px 10px rgb(0, 0, 0),
    0px 0px 10px rgb(0, 0, 0), 0px 0px 10px rgb(0, 0, 0),
    0px 0px 10px rgb(0, 0, 0);
}

.nav {
  width: 1200px;
  padding-right: 20px;
}

.nav-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  list-style: none;
  column-gap: 62px;

  align-self: center;
  align-items: center;

  justify-items: center;
  justify-content: center;
  justify-self: center;
}

.nav-list ul {
  list-style: none;
}

.nav-list li {
  position: relative;
}

.lista {
  list-style: none;

  position: absolute;
  padding-top: 30px;
  top: 20px;
  padding-left: 12px;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  -webkit-transition: opacity 0.7s ease;
  transition: opacity 0.7s ease;

  display: grid;
  grid-auto-rows: 20px;
  grid-template-columns: 1fr;
  white-space: nowrap;
}

.list-link:link,
.list-link:visited {
  line-height: 1.6;
  color: #f6f2ed;
  font-size: 1.6rem;
  text-decoration: none;
  display: inline-block;
  color: #f6f2ed;

  text-shadow: 0px 0px 10px rgb(0, 0, 0), 0px 0px 10px rgb(0, 0, 0),
    0px 0px 10px rgb(0, 0, 0), 0px 0px 10px rgb(0, 0, 0),
    0px 0px 10px rgb(0, 0, 0);
}

.nav-list li:hover > .lista,
.lista:hover {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.list-link:hover {
  transform: scale(1.1);
  -webkit-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
}

.size a {
  transform: scale(0.9);
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}

.servicios,
.nosotros,
.contactos {
  position: relative;
}

.border {
  content: "";
  border-left: 1px solid #f6f2ed;
  top: 35px;
  left: -2px;
}

.border1 {
  height: 115px;
  position: absolute;
}

.border2 {
  height: 55px;
  position: absolute;
}

.border3 {
  height: 35px;
  position: absolute;
}
/**************************/
/* informacion */
/**************************/

.cuadros {
  padding: 96px 200px 96px 200px;
}

.title {
  color: #f6f2ed;
  margin-bottom: 20px;

  font-size: 5.2rem;
  font-weight: 200;
  width: 900px;

  margin-left: auto;
  margin-right: auto;
  text-align: center;

  white-space: nowrap;
}

.bottom {
  content: "";
  border-bottom: 1px solid #f6f2ed;
  margin-left: auto;
  margin-right: auto;

  width: 440px;
}

.text {
  margin-top: 84px;
  color: #f6f2ed;
}

.title2 {
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 30px;
}

.response {
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 1.5;

  margin-left: 100px;
}

.response:not(:last-child) {
  margin-bottom: 70px;
}

.text-link:link,
.text-link:visited {
  color: #2c67b4;
  font-size: 2.4rem;
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  background-color: #f6f2ed;
  align-items: center;
  text-align: center;

  display: flex;
  justify-content: center;
  gap: 100px;
}

.footer img {
  height: 230px;
}

.social-links {
  list-style: none;
  margin-bottom: 20px;

  display: flex;
  gap: 30px;
  justify-content: center;
}

.list {
  display: inline-block;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 3.2rem;
  color: #2f2e2e;
  transition: all 0.3s;
}

.copy {
  color: #2f2e2e;
}
